/* FONTE IMPORTADA DO SITE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,600;1,600&display=swap');

/* VARIÁVEL PARA AS CORES AZUL/PRETA/BRANCA E FONTES */
:root{

    --cor-principal: #898121;
    --cor-textos: #F4F4F4;
    --cor-secundaria: #000000;
    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {

    margin: 0; /* SEM MARGEM */
    padding: 0; /* SEM PREENCHIMENTO */
}

/* CSS PARA O BODY. */
body {

    /*  height: 100vh; 100% DO NAVEGADOR - VIEWPORT */
    box-sizing: border-box; /* AJUSTA ELEMENTO FILHO AO TAMANHO DO ELEMENTO PAI */
    color: var(--cor-textos);
    background-color: var(--cor-secundaria);
    
}

/* CSS PARA CABEÇALHO */
.header__info {

    padding: 2% 0% 0% 15%;
}

/* CSS PARA DISTANCIAR CABEÇALHOS */
.header__menu {

    display: flex;
    gap:80px;
}

/* CSS PARA CABEÇALHOS SUPERIORES */
.header__linked__menu {

    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-principal);
    text-decoration: none; /* RETIRA A DECORAÇÃO DO TEXTO */
}

/* CSS DA CLASS FEATURED__TITLE */
.featured__title{

    color: rgb(13, 150, 86);
}

/* CSS DA CLASS HIGHLIGHT__LINE */
.highlight__line {

    color: red;
}

.text__main {

    display: flex; /* UTILIZADO PARA ORDERNAR OS ELEMENTOS EM LINHA */
    align-items: center; /* CENTRALIZA OS ITENS (CONTEÚDO) */
    justify-content: space-between; /* ESPAÇAMENTO ENTRE OS ELEMENTOS */
    padding: 5% 15%; /* MARGEM - PRIMEIRO VALOR VERTICAL - SEGUNDO VALOR HORIZONTAL */
    gap: 82px;
}

.pag__content {

    width: 50%; /* LARGURA */
    display: flex;
    flex-direction: column; /* ESTILO COLUNA */
    gap: 40px; /* ESPAÇAMENTO ENTRE CADA UM DOS ELEMENTOS FILHOS */

}

.pag__title {

    font-size: 2.25rem;
    font-family: var(--font-principal);
}

.pag__text {

    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.pag__links {

    display: flex;
    flex-direction: column; /* AJUSTAR OS ITENS EM FORMATO COLUNA */
    justify-content: space-between;
    align-items: center; /* ALINHA OS ITENS NO CENTRO */
    gap: 32px; /* ESPAÇAMENTO ENTRE ITENS */
}

.social__links {

    color: var(--cor-textos);
    border: 2px solid var(--cor-principal); /* ADICIONA UMA BORDA COM EXPESSURA */
    width: 50%;
    text-align: center; /* ALINHAR TEXTO */
    border-radius: 8px; /* DEFINE O ESTILO DAS BORDAS */
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /* ESPAÇAMENTO - PRIMEIRO VALOR VERTICAL - SEGUNDO VALOR HORIZONTAL */
    text-decoration: none; /* SEM DECORAÇÃO NO TEXTO */
    font-family: var(--font-secundaria);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.title__social__link {

    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* ESTILO AO PASSAR O PONTEIRO POR CIMA */
.social__links:hover{

    background-color: rgb(29, 52, 122);
}

/* CSS PARA O RODAPÉ DA PÁGINA */
.baseboard{

    padding: 24px;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
    background-color: #C4D9FF;
    color: var(--cor-secundaria);
    padding: 10px;
}

.profile {

    width: 50%;
    height: 50%;
}

@media (max-width: 1200px) {

    .header__info {

        padding: 10%;
    }

    .header__menu {

        justify-content: center;
    }

    .text__main {

        flex-direction: column-reverse;
        padding: 7%;
    }

    .pag__content {

        width: auto;
    }
}